.main {
  display: grid;
  grid-template-columns: 25vh 3fr;
  gap: 2rem;
  min-height: 100vh;
  background: #f8f9fa;
}

.cardSummary {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}
.mainDetails {
  margin-top: 2rem;
}
.Breadcrumb {
  margin: 1rem;
}
