.CloseButton {
  align-self: flex-end;
}

.updateModal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #0d0e0f88;
}
.form {
  background-color: #f8f9fa;
  max-height: 30vh;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  bottom: 1rem;
  width: 95%;
  margin: 1rem;
  padding: 1rem;
  border-radius: 4px;
}
.formFields {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.submitButton {
  background-color: var(--Default-Green) !important;
  padding: 0.5rem;
}

.submitButton:hover {
  background-color: var(--Default-Green-Hover) !important;
}

@media (max-width: 1024px) {
  .formFields {
    flex-direction: column;
    gap: 1rem;
  }
}
