/* Something has to change */
.cardMain {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  border-radius: 0.9375rem;
  background: #fafafa;
  box-shadow: 0px 3.5px 5.5px 0px rgba(0, 0, 0, 0.02);
  padding: 1.5rem 1rem;
  width: 100%;
  height: 100%;
  /* max-width: 100%; */
}
.cardMain:hover {
  background-color: #68836e14;
}
.cardMain:active {
  background-color: #32593b3e;
}
.headingDiv {
  align-self: flex-start;
}
.heading {
  color: #4a4c4e;
  font-size: 0.85rem;
  margin-bottom: 0.55rem;
  font-weight: 500;
  line-height: 150%; /* 1.125rem */
}
.detail {
  color: var(--Gray-Gray-700, #2d3748);
  font-family: Helvetica;
  font-size: 2.325rem;
  font-weight: 700;
  line-height: 140%; /* 1.575rem */
}
.dataDetails {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 1rem;
}

.iconWrapper {
  background-color: white; /* Choose your desired color */
  border: 1px solid #6465674a;
  border-radius: 50%;
  padding: 0.8rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
