.content {
  flex-grow: 1;
  padding: 1.5rem 2rem;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.filterSelect {
  padding: 0.5rem;
  border: 1px solid #58575726;
  background-color: white;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  color: #7f8c8d;
  cursor: pointer;
  transition: all 0.3s ease;
}

.filterSelect:focus {
  outline: none;
}

.filterSelect option {
  color: #7f8c8d;
}

.CloseButton {
  align-self: flex-end;
}
.addNewBtn {
  text-align: right;
}
.createNewBtn {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  width: 100%;
  padding: 0.2rem 0.7rem;
  background-color: var(--Default-Green) !important;
}

.updateModal {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  display: flex;
  justify-content: center;

  background-color: #0d0e0f88;
}
.form {
  background-color: #f8f9fa;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  bottom: 1rem;
  width: 95%;
  margin: 1rem;
  padding: 1rem;
  border-radius: 4px;
}
.formFields {
  display: flex;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 768px) {
  .content {
    padding: 1rem;
  }

  .actions {
    flex-direction: column;
    align-items: stretch;
  }

  .searchContainer,
  .filterSelect {
    max-width: none;
    margin-bottom: 1rem;
  }

  .filterSelect {
    margin-left: 0;
  }
}
